PORT=3000

# Supabase — Session Pooler (IPv4 compatible)
# Formato: postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres
# El PROJECT-REF y PASSWORD los obtiene el Owner del proyecto en Supabase → Connect → Session pooler
DATABASE_URL=postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres

NODE_ENV=development
